.about {
  background: #c2efba;
  width: 100vw;
}

.about-container {
  width: 1080px;
  margin: 0 auto;
}

.features {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 314px;
  height: 345px;

  background: linear-gradient(
    156.7deg,
    rgba(207, 239, 186, 0.9) -33.84%,
    rgba(255, 255, 255, 0.9) 45.04%
  );
  border: 5px solid #ffffff;
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 41px;
}

.features-header {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  align-items: center;
  width: 250px;
  margin-bottom: 13px;
}

.features-description {
  width: 248px;
  height: 100px;
}

.feature-row {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 106px;
}

.meet-miu {
  width: 498px;
  height: 130px;

  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 121px;
  text-align: left;

  color: #ffffff;
  margin-top: 45px;
}

.meet-miu-text {
  width: 597px;
  text-align: left;
  padding-left: 1em;
}