.homepage-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 96px;
  top: 27px;
}

.logo-leaf {
  width: 138px;
  height: 136px;
}

.logo-text {
  position: relative;
  margin-left: 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 205.02%;
  color: #000000;
}

.homepage-headline {
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  text-align: start;
}

.homepage-summary {
  width: 900px;
  margin-bottom: 56px;
  text-align: start;
}

.homepage-button {
  width: 267px;
  height: 72px;
  background: #c2efba;
  box-shadow: 0px 10px 20px rgba(190, 208, 255, 0.6);
  border-radius: 36px;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.green {
  background: linear-gradient(125.35deg, #c2efba 24.24%, #bed0ff 59.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}