.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 45%;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
  text-align: start;
}

.sidenav .link{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}

.active {
  color: #BED0FF!important;
  text-shadow: 1px 1px 1px #000;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav .link {
    font-size: 18px;
  }
}
